### Your tasks for this lab:

1. Create a jupyter notebook stored in `/notebooks` for your initial work. In it, start to document your process. Include some of the following:
* the topic you would like to focus on
* some initial data you found that could work for your analysis
* initial exploratory data analysis to see if data gathered is viable
* outside information that could be useful to your process (charts, articles, links that are relevant to your topic.
2. Find some initial data pertaining to your topic and store the files in the `/data` folder.
3. If you would like to scrape data, find some source that could potentially be scraped and begin inspecting it for ways to obtain it. It might be beneficial to do this in a jupyter notebook initially and then once you have some working code, place it into a `*.py` file in `/scripts`.
4. Create a `README.md` file containing information about your project. Keep it simple. We'll continue to add to this over time. 
5. An initial view in your django application (we'll learn templating next week but feel free to work ahead)

Minimum requirements for lab grade are:
* a github link to your repo with commits
* a `*.ipynb` file in `/notebooks` with your initial work (see above bulletpoints)
* a potential or relevant dataset in `/data`
* a `README.md` file

Commit your changes to the your repo at the end of class time and submit a link to google classroom. You have until Sunday to add further commits.

* The topic of my focus is using a dataset from https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset to ultimately be able to classify who would be at a risk of having a heart attack given their recorded highest heart rates, ages, and other variables.

* Full information about the data can be found here at http://archive.ics.uci.edu/ml/datasets/Heart+Disease

## heart.csv (11.06 KB)
### About this file: Dataset on heart attack


age: Age of the person

sex: (1 = male; 0 = female) 

cp: Chest Pain type chest pain type

trtbps: resting blood pressure (in mm Hg)

chol: cholestoral in mg/dl fetched via BMI sensor

fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)

restecg: resting electrocardiographic results

thalachh: maximum heart rate achieved

exng: exercise induced angina (1 = yes; 0 = no)

oldpeak: Previous peak

slp: Slope

caa: number of major vessels (0-3)

thall: Thal rate

output: Target variable

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../datasets/heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
df.notnull()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,True,True,True,True,True,True,True,True,True,True,True,True,True,True
299,True,True,True,True,True,True,True,True,True,True,True,True,True,True
300,True,True,True,True,True,True,True,True,True,True,True,True,True,True
301,True,True,True,True,True,True,True,True,True,True,True,True,True,True
302,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
# We see that all the data in the dataset is full without any null or missing values
# This gives us a viable working dataset with less problems in the future